<footer class="footer">
  <div class="footer__body">
    <div class="footer__col">
      <h4 class="footer__heading">À propos</h4>
      <a href="#" class="footer__link">Notre mission</a>
      <a href="#" class="footer__link">L'équipe</a>
      <a href="#" class="footer__link">Contact</a>
    </div>
    <div class="footer__col">
      <h4 class="footer__heading">Ressources</h4>
      <a routerLink="/resources" class="footer__link">Catalogue</a>
      <a href="#" class="footer__link">Catégories</a>
      <a href="#" class="footer__link">Aide</a>
    </div>
    <div class="footer__col">
      <h4 class="footer__heading">Communauté</h4>
      <a href="#" class="footer__link">Forum</a>
      <a href="#" class="footer__link">Événements</a>
      <a href="#" class="footer__link">Blog</a>
    </div>
    <div class="footer__col">
      <h4 class="footer__heading">Légal</h4>
      <a href="#" class="footer__link">Confidentialité</a>
      <a href="#" class="footer__link">Conditions d'utilisation</a>
      <a href="#" class="footer__link">Cookies</a>
    </div>
  </div>
  <div class="footer__bottom">
    <p>© 2026 Ressources Citoyennes. Tous droits réservés.</p>
  </div>
</footer>